@font-face {
  font-family: "Shrikhand";
  src: url("../static/Shrikhand-Regular.otf");
}

@font-face {
  font-family: "Roboto";
  src: url("../static/Roboto-Regular.ttf");
}

h1,
h2 {
  font-family: "Shrikhand";
}

h3,
h4,
a,
p {
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.btnexplore {
  background-color: #9356DC;
  color: white;
  border-radius: 2rem;
  padding: 0.7rem 1.3rem 0.7rem 1.3rem;
  margin-bottom: 2rem;
}

.Footer {
  background-color: #2b2e2c;
  padding: 0.5rem 1.5rem 1rem 1rem;
}

.Footer__Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Footer__heading {
  color: white;
  padding-bottom: 0.7rem;
  font-weight: 500;
}

.Footer__Text {
  margin: 0.4rem 0.4rem 0.4rem 0.4rem;
}

.Header-home {
  background-color: #f0f0f0;
}

.Header-home__Title {
  background-color: white;
  text-align: center;
}

.Header-home__Logo {
  width: 40%;
}

.Header-home__Heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e8e8e8;
  border-top: #b3b3b3 solid 2px;
}

.Header-home__location {
  margin-left: 1rem;
  font-weight: 600;
}

.Header-home__Main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Header-home__bolddesc {
  font-weight: 900;
  font-size: 1.3em;
  text-align: center;
  margin: 2rem 4rem 0rem 4rem;
}

.Header-home__regdesc {
  text-align: center;
}

.Function__Infoframe {
  background-color: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  border-radius: 1.6rem;
  padding: 0.7rem 0.7rem 0.7rem 0.7rem;
  -webkit-box-shadow: 4px 11px 8px -4px rgba(0, 0, 0, 0.24);
          box-shadow: 4px 11px 8px -4px rgba(0, 0, 0, 0.24);
  margin-bottom: 1.8rem;
}

.Function__Number {
  background-color: #9356DC;
  position: absolute;
  left: -0.4rem;
  color: white;
  font-size: 0.95em;
  border-radius: 50%;
  width: 1.3rem;
  height: 1.3rem;
  border: 2px solid #9356DC;
  text-align: center;
}

.Function__Text {
  font-weight: 800;
}

.Restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f0f0f0;
  padding-bottom: 3rem;
}

.Restaurants__Title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-weight: 800;
  margin-top: 2.5rem;
  margin-left: 1.5rem;
}

.Restaurants__Wrapper {
  width: 85vw;
  height: auto;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  -webkit-box-shadow: 4px 11px 8px -4px rgba(0, 0, 0, 0.24);
          box-shadow: 4px 11px 8px -4px rgba(0, 0, 0, 0.24);
  background-color: white;
  border-radius: 1rem 1rem 1rem 1rem;
  position: relative;
}

.Restaurants__Image {
  width: 100%;
  max-height: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem 1rem 1rem 1rem;
}

.Restaurants__Name {
  margin: 0.3rem 0 0.3rem 0.5rem;
  font-weight: 800;
}

.Restaurants__Location {
  margin: 0.3rem 0 0.3rem 0.5rem;
}

.Restaurants__New {
  position: absolute;
  top: 0.1rem;
  right: 1rem;
  font-size: 0.8em;
  background-color: #99E2D0;
  color: #305221;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
}

.fa-heart {
  position: absolute;
  right: 1.3rem;
  bottom: 1.9rem;
}
/*# sourceMappingURL=main.css.map */