@charset "UTF-8";
body {
  margin: 0;
}

/* Importation de la police de caractères */
@font-face {
  font-family: "Shrikhand";
  src: url("../static/Shrikhand-Regular.otf");
}

@font-face {
  font-family: "Roboto";
  src: url("../static/Roboto-Regular.ttf");
}

/* Paramètres des polices de caractères */
h1,
h2 {
  font-family: "Shrikhand";
}

h3,
h4,
a,
p {
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* Paramètres des boutons */
.btnexplore {
  background-color: #686868;
  background: linear-gradient(175deg, #ff79da 5%, #9757dc 66%);
  border: 0px;
  color: white;
  position: relative;
  z-index: 1;
  border-radius: 2rem;
  padding: 0.7rem 1.3rem 0.7rem 1.3rem;
  margin-bottom: 2rem;
  -webkit-box-shadow: 4px 3px 7px -3px rgba(0, 0, 0, 0.7);
          box-shadow: 4px 3px 7px -3px rgba(0, 0, 0, 0.7);
}

.btnexplore:hover::after {
  opacity: 1;
}

.btnexplore::after {
  content: "";
  position: absolute;
  border-radius: 2rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #eb71c9;
  background: linear-gradient(175deg, #eb71c9 27%, rgba(172, 87, 220, 0.916404) 85%);
  opacity: 0;
  z-index: -1;
  -webkit-box-shadow: 4px 3px 12px 1px rgba(0, 0, 0, 0.49);
          box-shadow: 4px 3px 12px 1px rgba(0, 0, 0, 0.49);
  -webkit-transition: opacity 350ms;
  transition: opacity 350ms;
}

.btnorder {
  background-color: #686868;
  background: linear-gradient(175deg, #ff79da 5%, #9757dc 66%);
  border: 0px;
  color: white;
  position: relative;
  font-size: 1.05em;
  z-index: 1;
  border-radius: 2rem;
  padding: 0.7rem 2.5rem 0.7rem 2.5rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
  -webkit-box-shadow: 4px 3px 7px -3px rgba(0, 0, 0, 0.7);
          box-shadow: 4px 3px 7px -3px rgba(0, 0, 0, 0.7);
}

.btnorder:hover::after {
  opacity: 1;
}

.btnorder::after {
  content: "";
  position: absolute;
  border-radius: 2rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #eb71c9;
  background: linear-gradient(175deg, #eb71c9 27%, rgba(172, 87, 220, 0.916404) 85%);
  opacity: 0;
  z-index: -1;
  -webkit-box-shadow: 4px 3px 12px 1px rgba(0, 0, 0, 0.49);
          box-shadow: 4px 3px 12px 1px rgba(0, 0, 0, 0.49);
  -webkit-transition: opacity 350ms;
  transition: opacity 350ms;
}

.fa-heart {
  font-size: 1.5em;
  cursor: pointer;
}

@media screen and (min-width: 1250px) {
  .fa-heart {
    margin-right: 3rem;
  }
}

.fa-heart:hover:before {
  -webkit-animation-name: heart-fill;
          animation-name: heart-fill;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  font-weight: 900;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#9356DC));
  background-image: linear-gradient(white, #9356DC);
  background-size: 200% 200%;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@-webkit-keyframes heart-fill {
  0% {
    background-position: 90% 10%;
  }
  25% {
    background-position: 75% 25%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 100%;
  }
}

@keyframes heart-fill {
  0% {
    background-position: 90% 10%;
  }
  25% {
    background-position: 75% 25%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 100%;
  }
}

/* Paramètres du header - Menus */
.Header-menu__Title {
  background-color: white;
  text-align: center;
  position: relative;
}

.Header-menu__Logo {
  font-family: Shrikhand;
  text-align: center;
  font-size: 2em;
}

.Header-menu__img {
  max-height: 17rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
  position: relative;
}

.fa-arrow-left {
  position: absolute;
  height: 2rem;
  width: 2rem;
  left: 2rem;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2em;
  -webkit-transform: translateY(-33%);
          transform: translateY(-33%);
}

/* Paramètres des Menus */
.Menu {
  position: relative;
  margin-top: -3rem;
  z-index: 10;
  background-color: #f3f3f3;
  border-radius: 2rem 2rem 0rem 0rem;
}

@media screen and (min-width: 1250px) {
  .Menu {
    width: 66%;
    margin: auto;
    margin-top: -3rem;
  }
}

.Menu__Title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 1250px) {
  .Menu__Title {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.Menu__Restaurant {
  margin-right: 3rem;
}

@media screen and (min-width: 1250px) {
  .Menu__Restaurant {
    margin-left: 2rem;
  }
}

.Menu__Heading {
  margin-left: 1rem;
  width: 2rem;
  font: 1em "Roboto";
  border-bottom: lightgreen 2px solid;
}

.Menu__Heading-Appet {
  margin-left: 1rem;
  width: 2rem;
  font: 1em "Roboto";
  border-bottom: lightgreen 2px solid;
  opacity: 0;
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.Menu__Course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Menu__Course-Appet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-animation: fadeIn 700ms;
          animation: fadeIn 700ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.Menu__Heading-Main {
  margin-left: 1rem;
  width: 2rem;
  font: 1em "Roboto";
  border-bottom: lightgreen 2px solid;
  opacity: 0;
  -webkit-animation: fadeIn 600ms;
          animation: fadeIn 600ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.Menu__Course-Main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-animation: fadeIn 600ms;
          animation: fadeIn 600ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.Menu__Heading-Dessert {
  margin-left: 1rem;
  width: 2rem;
  font: 1em "Roboto";
  border-bottom: lightgreen 2px solid;
  opacity: 0;
  -webkit-animation: fadeIn 600ms;
          animation: fadeIn 600ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.Menu__Course-Dessert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-animation: fadeIn 600ms;
          animation: fadeIn 600ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.MenuItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  width: 83vw;
  padding: 1rem;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 1rem;
  border-radius: 1.2rem 1.2rem 1.2rem 1.2rem;
  overflow: hidden;
}

@media screen and (min-width: 1250px) {
  .MenuItem {
    width: 75%;
  }
}

.MenuItem__Details {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.MenuItem__Details-wrapper {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.MenuItem__Price {
  font-family: "Roboto";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 2rem;
  font-weight: 800;
}

.MenuItem__Checkbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -1rem -5rem -1rem -1rem;
  background-color: #99E2D0;
  width: 4rem;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
}

.MenuItem:hover .MenuItem__Checkbutton {
  margin-right: -1rem;
}

.MenuItem__Checkwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 1.6rem;
  width: 1.6rem;
  background-color: white;
  border-radius: 100px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition-duration: .7s;
          transition-duration: .7s;
}

.MenuItem:hover .MenuItem__Checkwrapper {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.MenuItem__Check-icon {
  color: #99E2D0;
}

.MenuItem__Dish {
  margin: 0;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Paramètres du footer */
.Footer {
  background-color: #2b2e2c;
  padding: 0.5rem 1.5rem 1rem 1rem;
}

.Footer__Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 750px) {
  .Footer__Content {
    margin-left: 6%;
  }
}

.Footer__heading {
  color: white;
  padding-bottom: 0.7rem;
  font-weight: 500;
}

@media screen and (min-width: 750px) {
  .Footer__heading {
    margin-left: 6%;
  }
}

.Footer__Text {
  margin: 0rem 0rem 0rem 0rem;
}

.fa-hands-helping {
  width: 13px;
  margin-right: 1rem;
}

.fa-utensils {
  margin-right: 1rem;
}

/* Paramètres du header - Page d'accueil */
.Header-home {
  background-color: #f0f0f0;
}

.Header-home__Title {
  background-color: white;
  text-align: center;
  padding-top: 1rem;
}

.Header-home__Logo {
  width: 25%;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1250px) {
  .Header-home__Logo {
    width: 16%;
  }
}

@media screen and (max-width: 750px) {
  .Header-home__Logo {
    width: 50%;
  }
}

.Header-home__Heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e8e8e8;
  border-top: #b3b3b3 solid 2px;
}

.Header-home__location {
  margin-left: 1rem;
  font-weight: 600;
}

.Header-home__Main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Header-home__bolddesc {
  font-weight: 900;
  font-size: 1.3em;
  text-align: center;
  margin: 2rem 4rem 0rem 4rem;
}

.Header-home__regdesc {
  text-align: center;
}

.Function__Display {
  margin: 0px 0.7rem 0px 0.7rem;
}

@media screen and (min-width: 1250px) {
  .Function__Display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.Function__Title {
  margin: 2rem 0rem 1rem 6%;
}

.Function__Infoframe {
  background-color: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  border-radius: 1.6rem;
  padding: 0.7rem 0.7rem 0.7rem 0.7rem;
  -webkit-box-shadow: 4px 11px 8px -4px rgba(0, 0, 0, 0.24);
          box-shadow: 4px 11px 8px -4px rgba(0, 0, 0, 0.24);
  margin-bottom: 1.8rem;
}

@media screen and (min-width: 1250px) {
  .Function__Infoframe {
    width: 20%;
    margin-top: 2rem;
  }
}

.Function__Number {
  background-color: #9356DC;
  position: absolute;
  left: -0.4rem;
  color: white;
  font-size: 0.95em;
  border-radius: 50%;
  width: 1.3rem;
  height: 1.3rem;
  border: 2px solid #9356DC;
  text-align: center;
}

.Function__Text {
  font-weight: 800;
}

/* Paramètres de la liste des restaurants*/
.Restaurants {
  background-color: #f0f0f0;
}

.Restaurants__Display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f0f0f0;
  padding-bottom: 3rem;
}

@media screen and (min-width: 1250px) {
  .Restaurants__Display {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.Restaurants__Title {
  font-weight: 800;
  margin: 2rem 0rem 2rem 6%;
  padding-top: 2rem;
}

@media screen and (min-width: 1250px) {
  .Restaurants__Title {
    font-size: 1.3em;
  }
}

.Restaurants__Wrapper {
  width: 85vw;
  height: auto;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  -webkit-box-shadow: 4px 11px 8px -4px rgba(0, 0, 0, 0.24);
          box-shadow: 4px 11px 8px -4px rgba(0, 0, 0, 0.24);
  background-color: white;
  border-radius: 1rem 1rem 1rem 1rem;
  position: relative;
}

@media screen and (min-width: 1250px) {
  .Restaurants__Wrapper {
    max-width: 40rem;
  }
}

@media screen and (min-width: 2000px) {
  .Restaurants__Wrapper {
    max-width: 55rem;
  }
}

.Restaurants__Image {
  width: 100%;
  max-height: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem 1rem 1rem 1rem;
}

.Restaurants__Info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Restaurants__Text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Restaurants__Name {
  margin: 0.5rem 0rem 0.2rem 0.7rem;
  font-weight: 800;
}

.Restaurants__Location {
  margin: 0rem 0rem 0.2rem 0.7rem;
}

.Restaurants__Heart {
  margin-right: 1rem;
}

.Restaurants__New {
  position: absolute;
  top: 0.1rem;
  right: 1rem;
  font-size: 0.8em;
  background-color: #99E2D0;
  color: #1b6140;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
}

/* Paramètres du loading spinner*/
.Spinner {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -25px;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 14px;
  z-index: 100;
}

.Spinner div {
  position: absolute;
  border: 5px solid #9356DC;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: Spinner 1s cubic-bezier(0, 0.2, 0.8, 1) infinite forwards;
          animation: Spinner 1s cubic-bezier(0, 0.2, 0.8, 1) infinite forwards;
}

.Spinner div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

@-webkit-keyframes Spinner {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@keyframes Spinner {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/* Fond blanc du loading spinner*/
.Loading {
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #ffff;
  z-index: 99;
  -webkit-animation: Loading 0s ease-in 3s;
          animation: Loading 0s ease-in 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@-webkit-keyframes Loading {
  to {
    height: 0;
    width: 0;
    visibility: hidden;
  }
}

@keyframes Loading {
  to {
    height: 0;
    width: 0;
    visibility: hidden;
  }
}
/*# sourceMappingURL=main.css.map */