/* Paramètres du header - Menus */

.Header-menu{
    &__Title{
        background-color: white;
        text-align: center;
        position:relative;
    }
        &__Logo{
            font-family: Shrikhand;
            text-align: center;
            font-size: 2em;
        }
            &__img{
                max-height: 17rem;
                width: 100%;
                object-fit: cover;
                z-index: 0;
                position: relative;
            }
}

.fa-arrow-left{
    position: absolute;
    height: 2rem;
    width: 2rem;
    left: 2rem;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    transform: translateY(-33%);
}