/* Paramètres du header - Menus */

.Header-menu{
    &__Title{
        background-color: white;
        text-align: center;
    }
        &__Logo{
            width:40%;
        }
            &__img{
                width:96vw;
                max-height: 17rem;
                object-fit: cover;
                z-index: 0;
                position: relative;
            }
}

.fa-arrow-left{
    position: absolute;
    left: 10;
}