/* Paramètres des Menus */

.Menu{
    position: relative;
    margin-top: -3rem;
    z-index: 10;
    width: 96vw;
    background-color: #f3f3f3;
    border-radius: 2rem 2rem 0rem 0rem;
    &__Title{
        @include flex-center;
        justify-content: space-around;
    }
        &__Restaurant{
            margin-right: 3rem;
        }
            &__Heading{
                margin-left: 1rem;
                width: 2rem;
                font: 1em "Roboto";
                border-bottom: lightgreen 2px solid;
                }
                &__Heading-Appet{
                    @include heading-menu;
                    opacity:0;
                    animation: fadeIn 0.5s;
                    animation-fill-mode: forwards;
                }
                    &__Course{
                        @include flex-center;
                        flex-direction: column;
                    }
                        &__Course-Appet{
                            @include flex-center;
                            flex-direction: column;
                            opacity: 0;
                            animation: fadeIn 700ms;
                            animation-fill-mode: forwards;
                            animation-delay: 0.5s;
                        }
                            &__Heading-Main{
                                @include heading-menu;
                                opacity:0;
                                animation: fadeIn 600ms;
                                animation-fill-mode: forwards;
                                animation-delay: 1s;
                            }
                                &__Course-Main{
                                    @include flex-center;
                                    flex-direction: column;
                                    opacity: 0;
                                    animation: fadeIn 600ms;
                                    animation-fill-mode: forwards;  
                                    animation-delay: 1.5s;
                                }
                                    &__Heading-Dessert{
                                        @include heading-menu;
                                        opacity:0;
                                        animation: fadeIn 600ms;
                                        animation-fill-mode: forwards;
                                        animation-delay: 2s;
                                    }
                                        &__Course-Dessert{
                                            @include flex-center;
                                            flex-direction: column;
                                            opacity: 0;
                                            animation: fadeIn 600ms;
                                            animation-fill-mode: forwards;  
                                            animation-delay: 2.5s;
                                        }

}

.MenuItem{
display:flex;
background-color: white;
width: 83vw;
padding: 1rem;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
margin-bottom: 1rem;
border-radius: 1.2rem 1.2rem 1.2rem 1.2rem;
overflow: hidden;
    &__Details{
        margin:0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
        &__Details-wrapper{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            flex:1;
        }
            &__Price{
                font-family: "Roboto";
                display:flex;
                justify-content: flex-end;
                align-items: flex-end;
                padding-right: 2rem;
                font-weight: 800;
            }
            &__Checkbutton{
                @include flex-center;
                justify-content: center;
                margin: -1rem -5rem -1rem -1rem;
                background-color: $color-tertiary;
                width: 4rem;
                transition-duration: .6s;
                }
                    &:hover &__Checkbutton{
                        margin-right:-1rem;
                    }
                        &__Checkwrapper{
                            @include flex-center;
                            justify-content: center;
                            height: 1.6rem;
                            width: 1.6rem;
                            background-color: white;
                            border-radius: 100px;
                            transform: rotate(180deg);
                            transition-duration: .7s;
                            } 
                                &:hover &__Checkwrapper{
                                    transform: rotate(0);
                                }
                                    &__Check-icon{
                                        color: $color-tertiary;
                                    }               
                                        &__Dish{
                                            margin:0
                                        }
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }