/* Paramètres des boutons */

.btnexplore{
    background-color: $color-primary;
    border: 0px;
    color: white;
    position: relative;
    z-index: 1;
    border-radius: 2rem;
    padding: 0.7rem 1.3rem 0.7rem 1.3rem;
    margin-bottom: 2rem;
    box-shadow: 4px 3px 7px -3px rgba(0,0,0,0.7);
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content:"";
        position: absolute;
        border-radius: 2rem;
        top:0;
        right:0;
        bottom:0;
        left: 0;
        background: linear-gradient(175deg, rgba(255,121,218,1) 5%, rgba(151,87,220,1) 66%);
        opacity: 0;
        z-index: -1;
        box-shadow: 4px 3px 12px 1px rgba(0,0,0,0.49);
        transition: opacity 350ms;
    }
}