/* Bouton "explorer nos restaurants" - page d'accueil */

.btnexplore{
    background-color: rgb(104, 104, 104);
    background: linear-gradient(175deg, rgba(255,121,218,1) 5%, rgba(151,87,220,1) 66%);
    border: 0px;
    color: white;
    position: relative;
    z-index: 1;
    border-radius: 2rem;
    padding: 0.7rem 1.3rem 0.7rem 1.3rem;
    margin-bottom: 2rem;
    box-shadow: 4px 3px 7px -3px rgba(0,0,0,0.7);
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content:"";
        position: absolute;
        border-radius: 2rem;
        top:0;
        right:0;
        bottom:0;
        left: 0;
        background: rgb(235,113,201);
        background: linear-gradient(175deg, rgba(235,113,201,1) 27%, rgba(172,87,220,0.9164040616246498) 85%);
        opacity: 0;
        z-index: -1;
        box-shadow: 4px 3px 12px 1px rgba(0,0,0,0.49);
        transition: opacity 350ms;
    }
}

/* Bouton "Commander" - page de menus */

.btnorder{
    background-color: rgb(104, 104, 104);
    background: linear-gradient(175deg, rgba(255,121,218,1) 5%, rgba(151,87,220,1) 66%);
    border: 0px;
    color: white;
    position: relative;
    font-size: 1.05em;
    z-index: 1;
    border-radius: 2rem;
    padding: 0.7rem 2.5rem 0.7rem 2.5rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    box-shadow: 4px 3px 7px -3px rgba(0,0,0,0.7);
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content:"";
        position: absolute;
        border-radius: 2rem;
        top:0;
        right:0;
        bottom:0;
        left: 0;
        background: rgb(235,113,201);
        background: linear-gradient(175deg, rgba(235,113,201,1) 27%, rgba(172,87,220,0.9164040616246498) 85%);
        opacity: 0;
        z-index: -1;
        box-shadow: 4px 3px 12px 1px rgba(0,0,0,0.49);
        transition: opacity 350ms;
    }
}

/* Animation "favoris" - acceuil et menus */

.fa-heart{
    font-size: 1.5em;
    cursor: pointer;
    @media screen and (min-width: 1250px){
        margin-right: 3rem;
    }
    &:hover:before{
        animation-name: heart-fill;
        animation-duration: 1000ms;
        animation-fill-mode: forwards;
        background-clip: text;
        -moz-background-clip: text;
        -webkit-background-clip: text; 
        font-weight: 900;
        background-image: linear-gradient(white, $color-primary);
        background-size: 200% 200%;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }
    &:active:before{
        animation-name: heart-fill;
        animation-duration: 1000ms;
        animation-fill-mode: forwards;
        background-clip: text;
        -moz-background-clip: text;
        -webkit-background-clip: text; 
        font-weight: 900;
        background-image: linear-gradient(white, $color-primary);
        background-size: 200% 200%;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }
}

@keyframes heart-fill {
    0%{
        background-position:90% 10%;
    }
    25%{
        background-position: 75% 25%;
    }
    50%{
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 100%;
    }
}