/* Importation de la police de caractères */

@font-face {
    font-family: "Shrikhand";
    src: url('../static/Shrikhand-Regular.otf');
}

@font-face {
    font-family: "Roboto";
    src: url('../static/Roboto-Regular.ttf');
}

/* Paramètres des polices de caractères */

h1,
h2{
    font-family: "Shrikhand";
}

h3,
h4,
a,
p {
    font-family: "Roboto", sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}