@mixin flex-center {
    display:flex;
    align-items: center;
}

@mixin heading-menu{
    margin-left: 1rem;
    width: 2rem;
    font: 1em "Roboto";
    border-bottom: lightgreen 2px solid;
}

@mixin desktop-only {
    @media screen and (min-width: 1250px){
        display:flex;
        justify-content: space-around;
    }
}